<!DOCTYPE html>
<html>
  <head>
    <title>FullstackRuby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <%= render "comun/head" %>
    <section class="masthead bg-primary text-white text-center" style="padding-top: 5rem;">
    <div class="container">
        <%= yield %>
    </div>
    </section>
    <%= render "comun/footer" %>
  </body>
</html>
